* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header {
    padding: 15px 0px 15px 25px;
    background-color: white;
}

header img {
    height: 65px;
    vertical-align: top;
}

.title {
    font-size: 50px;
    font-weight: 800;
}