* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F8F9;
}

header {
    padding: 15px 0px 15px 25px;
    background-color: white;
}

header img {
    height: 65px;
    vertical-align: top;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

nav {
    margin-top: 35px;
    padding: 15px 0px 2px 0px;
}

main, #buttons-container {
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#buttons-container {
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    padding: 15px 0px 0px 50px;
}

button {
    padding: 5px;
    border-radius: 5px;
}

.inactive-button {
    background-color: #59B6F3;
    border: 1px solid #59B6F3;
    color: #fff;
}

.active-button {
    background-color: #fff;
    border: 1px solid lightgray;
    color: lightgray;
}

main {
    height: 500px;
    border-radius: 0px 0px 5px 5px;
    padding: 25px 0px 10px 50px;
}

section {
    color: #4D5159;
    margin-top: 20px;
}

.done, .tasks {
    margin-top: 10px;
    margin-bottom: 10px;
}

.done, .not-done {
    height: 17px;
    width: 17px;
    font-size: 12px;
    text-align: center;
    color: #64C0A9;
    border: 1px solid #64C0A9;
    border-radius: 50%;
    display: inline-block;
}

.not-done {
    color: red;
    border: 1px solid red;
}

.tasks {
    display: inline-block;
    margin-left: 5px;
}

.tag {
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    padding: 7px 13px 7px 13px;
    display: inline-block;
}

.blue-tag {
    background-color: #59B6F3;
}

.violet-tag {
    background-color: #9C72E4;
}

.green-tag {
    background-color: #64C0A9;
}

.orange-tag {
    background-color: #F29E33;
}